@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

body {
    font-family: Georgia, serif;
    background-color: #e2d7aa;
    color: #000;
    font-size: 16px;
    width: 1180px;
    line-height: 24px;
    margin: 0 auto;
}

body>div.img-container {
    width: 1100px;
    height: 450px;
    margin: 65px auto 0 auto;
}

body>div.img-container>img {
    width: 1100px;
    height: 450px;
}

h1 {
    font-size: 60px;
    font-family: 'Indie Flower', cursive;
    letter-spacing: 5px;
    text-align: center;
    margin-top: 65px;
}

nav {
    margin: 30px;
    text-align: center;
}

nav ul li {
    list-style: none;
    display: inline;
    padding: 0 12px;
}

nav a {
    font-size: 28px;
    color: #333;
    text-decoration: none;
}

nav ul li:first-of-type a,
nav ul li:last-of-type a {
    color: #0a2d4a;
    font-weight: bold;
}

article h2 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 5px;
}

article p:first-of-type {
    font-size: 15px;
    color: #333;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 14px;
    font-style: normal;
}



main {
    margin-top: 30px;
}

article {
    width: 370px;
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
}

article:last-child {
    margin-right: 0;
}

main>article img {
    width: 350px;
    height: 200px;
    margin-bottom: 20px;
}

p {
    width: 345px;
    text-align: justify;
    margin-bottom: 20px;
}

article img+p:first-letter {
    font-size: 40px;
}

.readmore a,
.comments a {
    background: url("Image/bg2.png");
    color: #fff;
    padding: 10px 14px;
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
}

article p:last-of-type span:first-of-type a::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("Image/comment.png") no-repeat center;
    background-size: contain;
    margin-right: 6px;
    vertical-align: middle;
}


footer {
    padding: 10px 0;
    text-align: center;
}